<?xml version="1.0" encoding="UTF-8"?>
<phpunit 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd" 
bootstrap="vendor/autoload.php" 
executionOrder="depends,defects" 
beStrictAboutOutputDuringTests="true"
 failOnRisky="true" 
 failOnWarning="true" 
 cacheDirectory=".phpunit.cache">
  <testsuites>
    <testsuite name="Feature">
      <directory suffix="Test.php">tests/Feature</directory>
    </testsuite>
    <testsuite name="Unit">
      <directory suffix="Test.php">tests/Unit</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </source>
  <coverage disableCodeCoverageIgnore="false">
    <report >
      <html 
        outputDirectory="coverage-result" 
        lowUpperBound="60" 
        highLowerBound="75" />
    </report>
  </coverage>
  <php>
      <env name="DB_CONNECTION" value="testing"/>
      <env name="APP_KEY" value="AckfSECXIvnK5r28GVIWUAxmbBSjTsmF"/>
  </php>
</phpunit>
